.gameCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(10, 15, 10) ;
  border: 5px solid #0be320a2;
  border-radius: 10px;
  }

  .gameCard:hover {
    color: #F2FFFB !important;
    background: #000000;
    background: linear-gradient(to top, #000000, #0BE321);
  }
  
  .gameCard img {
    width: 298px;
    height: 200px;
  }

  a {
    text-decoration: none;
    color: #0BE321 !important;
  }

  a:hover {
    color: #F2FFFB !important;
  }
  