.gameCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: green;
  background-color: rgb(10, 15, 10) ;
  border: 2px solid lightgray;
  border-radius: 10px;
  }

  .gameCard:hover {
    color: lightgreen;
  }
  
  .gameCard img {
    width: 300px;
    height: 200px;
  }
  