.background {
    background-image: url(../../images/opcion1.jpg);
    width: 100vw;
    height: 100vh;
}
.landing {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 28px;
    text-shadow: 5px 5px 5px #0BE321;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.button {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #0BE321;
    box-shadow: 1px 1px 1px #0BE321;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #0BE321;
}

.button:hover {
    color: #000000 !important;
    background: #000000;
    background: linear-gradient(to top, #000000, #0BE321);
  }
  

