body {
    background-color: #777;
}

.containerCreate {
    max-width: 900px;
    width: 90%;
    margin-top: 100px;
    margin-left: 280px;
    padding: 50px;
    background: #0be32057;
}

.buttonBack {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #0BE321;
    box-shadow: 1px 1px 1px #0BE321;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #0BE321;
    float:right; clear: both; 
    margin: 23px 0px 0px 0px;
}

.buttonBack:hover {
    color: #000000 !important;
    background: #000000;
    background: linear-gradient(to top, #000000, #0BE321);
}

.titleCreate {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 15px;
    text-shadow: 3px 2px 5px #0BE321, 0 0 5px #0be3b4;

}

.buttonCreategame {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #0BE321;
    box-shadow: 1px 1px 1px #0BE321;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #0BE321;
    margin: 20px;
    
}

.buttonCreategame:hover {
    color: #000000 !important;
    background: #000000;
    background: linear-gradient(to top, #000000, #0BE321);
}

.inputs {
    margin: 15px;
    display: block;
}

.inputCreate {
    margin: 8px;
    border-radius: 3px;
    padding: 1px 0px;
    border: 2px solid #0BE321;
    color: #fdfdfd;
    background-color: black;
    
}

.inputCreate::placeholder {
    color: #fdfdfd;
    font-size: 1em;
    font-weight: bold;
}

.inputDescription {
    margin: 8px;
    border-radius: 3px;
    padding: 1px 0px;
    border: 2px solid #0BE321;
    color: #fdfdfd;
    background-color: black;
}

.inputDescription::placeholder {
    color: #fdfdfd;
    font-size: 1em;
    font-weight: bold;
}

label {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 15px;
    text-shadow: 3px 2px 5px #0BE321, 0 0 5px #0be3b4;
}

p {
    color: #000000 !important;
    text-shadow: 3px 2px 5px #0BE321, 0 0 5px #0be3b4;
    font-size: 25px;
}

.filtersCreate {
    font-family: 'arial black';
    color: #000000 !important;
    font-size: 13px;
    text-shadow: 1px 1px 0px #0BE321;
    box-shadow: 1px 1px 1px #0BE321;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #0BE321;
}